name: Storybook - Deploy Chromatic
on:
  push:
    branches:
      - develop

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Install dependencies
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        run: yarn
      - name: deploy Storybook
        uses: chromaui/action@v1
        with:
          token: ${{ secrets.GH_TOKEN }}
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
